<!DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Talassa</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Talassa</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">SignIn</a>
        </div>
      </header>
      <aside>Shopping Categories</aside>
      <main class="main">
        <ul>
          <li>Product 1</li>
          <li>Product 2</li>
          <li>Product 3</li>
          <li>Product 4</li>
          <li>Product 5</li>
        </ul>
      </main>
      <footer class="footer">
        All right reserved.
      </footer>
    </div>
  </body>
</html>